<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fruitsalesplatform.mapper.RetailerMapper">
    <resultMap type="Retailer" id="retailerRM">
        <!-- 主键 -->
        <id property="retailerId" column="retailer_id" jdbcType="VARCHAR" />
        <!-- 一般属性 -->
        <result property="name" column="name"/>
        <result property="telphone" column="telphone"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="get" parameterType="String" resultMap="retailerRM">
        select * from retailer where retailer_id = #{retailerId}
    </select>
    <sql id="query_retailer_where">
        <if test="name != null">and name like #{name}</if>
        <if test="address != null">and address like #{address}</if>
        <if test="telphone != null">and telphone = #{telphone}</if>
        <if test="status != null"> and status = #{status}</if>
        <if test="createTime != null">
            and create_time = DATE_FORMAT(#{createTime}, '%Y-%m-%d %H:%i:%s')
        </if>
        <if test="startTime != null">
            <![CDATA[and create_time >= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endTime != null">
            <![CDATA[and create_time <= DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s')]]>
        </if>
    </sql>

    <select id="find" parameterType="java.util.HashMap" resultMap="retailerRM">
        select * from retailer
        <where>
            <include refid="query_retailer_where"></include><!-- sql片段引入 -->
        </where>
        <if test="startPage != null and pageSize != null"> LIMIT #{startPage},#{pageSize}</if>

    </select>

    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from retailer
        <where>
            <include refid="query_retailer_where"></include><!-- sql片段引入 -->
        </where>
    </select>
    <insert id="insert" parameterType="Retailer" >
        insert into retailer (retailer_id, name, telphone, address, status, create_time)
        values
        (
        #{retailerId,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{telphone,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="Retailer">
        update retailer
        <set>
            <if test="retailerId != null">retailer_id = #{retailerId,jdbcType=VARCHAR},</if>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="telphone != null">telphone = #{telphone,jdbcType=VARCHAR},</if>
            <if test="address != null">address = #{address,jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=VARCHAR}</if>
        </set>
        where retailer_id = #{retailerId}
    </update>
    <delete id="deleteById" parameterType="String">
        delete from retailer where retailer_id = #{retailerId}
    </delete>
    <delete id="delete" parameterType="String">
        delete from user where retailer_id in
        <foreach collection="array" item="retailerId" open="(" close=")" separator=",">
        #{retailerId}
        </foreach>
    </delete>
</mapper>